<a href="https://colab.research.google.com/github/Kousikdutta1/Netflix-Shows-and-Movies-Dataset-Analysis/blob/main/Netflix_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **NAME OF THE DATASET: NETFLIX DATASET**

**Netflix is the largest online movie and TV show streaming service on the planet. Its service is widely
available in many countries. The service was first introduced as a DVD rental service on the Internet and later, the founder
and CEO of the company Reed Hastings transitioned to a revolutionary way of delivering movies and TV
shows through its website allowing many users to directly stream their favorite contents on their Internetenabled devices including desktop computers, laptops, tablet PCs, mobile phones, and many more. With
its a whole new approach of delivering shows and movies, the sales of Netflix went up exponentially. Since
then, the platform created its own recommender system to understand what types of movies and TV shows
the users would like to watch, what kind of style of cinematography they liked the most, and how they consume their favorite TV shows. Many users tend to spend most of their time watching shows and movies on Netflix.**

#**Objective of This Project -**



*   Understand the dataset, data types & missing values.
*   Clean the dataset and handle the missing values.
*   Through Data visualization get some conclusions.

In [2]:
# Import the necessary libraries

import numpy as np  # Helps in working with matrices and arrays
import pandas as pd # Helps in reading the datset , making dataframe and manipulating dataframes
import matplotlib.pyplot as plt  # Helps to visualize the dataset
import seaborn as sns  # Helps to visualize the dataset

%matplotlib inline

In [3]:
# Let's Import the Dataset

netflix_data_file_path = "/content/drive/MyDrive/Colab Notebooks/Netflix Titles Dataset Exploratory Analysis/netflix_titles.csv"
netflix_df = pd.read_csv(netflix_data_file_path)

## Let's display Top 10 rows, last 10 rows, Column names, Shape, Null values and Data types of the Netflix Dataset.

In [4]:
# Let's check top 10 rows of the datset

netflix_df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [5]:
# Let's check last 10 rows of the datset

netflix_df.tail(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8797,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia","September 13, 2018",2016,TV-Y7,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
8798,s8799,Movie,Zed Plus,Chandra Prakash Dwivedi,"Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...",India,"December 31, 2019",2014,TV-MA,131 min,"Comedies, Dramas, International Movies",A philandering small-town mechanic's political...
8799,s8800,Movie,Zenda,Avadhoot Gupte,"Santosh Juvekar, Siddharth Chandekar, Sachit P...",India,"February 15, 2018",2009,TV-14,120 min,"Dramas, International Movies",A change in the leadership of a political part...
8800,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
8801,s8802,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min,"Dramas, International Movies, Thrillers",Recovering alcoholic Talal wakes up inside a s...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [6]:
# Let's check random 10 rows of the datset

netflix_df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5623,s5624,Movie,Semana Santa,Alejandra M√°rquez Abella,"Tenoch Huerta, Anajos√© Aldrete, Esteban √Åvila,...",Mexico,"January 31, 2017",2015,TV-MA,87 min,"Dramas, International Movies","A single mother, her boyfriend and her 8-year-..."
8111,s8112,Movie,Submission,J.M. Berrios,"Scott Pryor, Darrin Dewitt Henson, Eric Robert...",United States,"November 11, 2019",2019,TV-MA,95 min,"Action & Adventure, Dramas","After a near-death trip home, a Marine looking..."
2862,s2863,Movie,"Pop, Lock 'n Roll",Ziggy Hofmeyr,"Maurice Paige, Yasirah Bhelz, Lionel Newton, T...",South Africa,"March 1, 2020",2017,TV-14,88 min,"Dramas, International Movies, Romantic Movies",An ambitious hip-hop dancer jeopardizes his ri...
2236,s2237,Movie,Little Singham: Legend of Dugabakka,NaN,NaN,NaN,"July 15, 2020",2020,TV-Y7,68 min,"Children & Family Movies, Comedies",As fears rise over a ghost known for nighttime...
7675,s7676,TV Show,Operation Proposal,NaN,"Seung-ho Yoo, Eun-bin Park, Kyung-pyo Go, Ye-w...",South Korea,"July 1, 2016",2012,TV-PG,1 Season,"International TV Shows, Korean TV Shows, Roman...","On Yi-seul's wedding day, her friend Baek-ho w..."
5197,s5198,Movie,The B-Side: Elsa Dorfman's Portrait Photography,Errol Morris,Elsa Dorfman,United States,"October 31, 2017",2016,R,76 min,Documentaries,"Filmmaker Errol Morris probes the life, work a..."
888,s889,Movie,The Upshaws - The Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster, ...",NaN,"May 14, 2021",2021,TV-14,32 min,Comedies,"The comedic dream team from ""The Upshaws"" disc..."
6675,s6676,Movie,El Che,Mat√≠as Gueilburt,Paco Ignacio Taibo II,Venezuela,"October 15, 2017",2017,TV-14,119 min,"Documentaries, International Movies",Spanish-Mexican writer Paco Ignacio Taibo II h...
2039,s2040,Movie,Toll Booth,Tolga Kara√ßelik,"B√º≈üra Pekin, Nur Aysan, Ruhi Sarƒ±, Nergis √ñzt√º...",Turkey,"September 7, 2020",2010,TV-MA,98 min,"Dramas, Independent Movies, International Movies",A toll booth operator's mundane life is upende...
6529,s6530,Movie,Consequences,Ozan A√ßƒ±ktan,"Nehir Erdoƒüan, Tardu Flordun, ƒ∞lker Kaleli, Se...",Turkey,"October 25, 2019",2014,TV-MA,106 min,"Dramas, International Movies, Thrillers",Secrets bubble to the surface after a sensual ...

In [7]:
# Let's check the number of rows and columns present in the dataset.

netflix_df.shape

(8807, 12)

In [8]:
# Let's check the column names

netflix_df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [9]:
# Checking the information about all the columns like Datatypes, Null and Non null values.

netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

**As we can see from the above information that null values are present in column director, cast, country, date_added, rating, duration.**

In [10]:
# Descriptive Statistics 

netflix_df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

**As we can see we have only one Integer column which is Release Year , thats why we have got stats for that column only**

In [11]:
# Let's check the null values of the dataset and change the datatype of any column if needed.

netflix_df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

**As we can see from the above information 
that** 

**Following do not require any fills**


*   Show id
*   Type 
*   Title
*   release_year
*   listed_in
*   Description
 
**Following are missing data**

*  director
*  cast 
*  country 
*  date_added 
*  rating
*  duration

In [12]:
# Let's convert the datatype of Date_added to Datetime

netflix_df['date_added'] = pd.to_datetime (netflix_df['date_added'])

In [13]:
# Let's check if the date_added datatype changed or not

netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   datetime64[ns]
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 825.8+ KB

**We have successfully changed the datatype of date_added**

In [14]:
# Let's see the dataset with changed 'date' datatype

netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...